{% extends 'base.html' %}
<!-- Static -->
{% load static %}
<!-- Title -->
{%block title%}로그인{%endblock%}
<!-- Content -->
{%block content%}
<form>
    <h1>로그인</h1>
    <input id="email" type="email" name="email" placeholder="example@gmail.com"/>
    <input id="password" type="password" name="password"/>
    <button id="login-btn" type="button">로그인</button>
    <button id="token-login-btn" type="button">토큰 로그인</button>
    <button id="logout-btn" type="button">로그아웃</button>
</from>

<script src="{% static 'js/login.js' %}"></script>
{%endblock%}
